<ul data-node="listBox">
    <li class="item clearfix" data-node="item">

        <div class="info" style="width: 100%;">
            <p class="title"> 
                <a href="/group/3676035244/" target="_blank">独家：习主席在惠灵顿的一天</a>
            </p>
            <p class="content">
                20日上午，习主席飞抵新西兰首都惠灵顿。惠灵顿素有“风城”之称，天气多变，但当天却是风和日丽，暖意融融，很有“好友来了喜相迎”的感觉。
                <a href="/group/3676035244/" target="_blank">[详情]</a>
            </p>

            <p class="footer">
                <a class="btn" href="/group/3676035244/" target="_blank" style="border-left:none;padding-left:0;">
                    <span>新华网</span>
                </a>
                <a class="btn" href="/group/3676035244/" target="_blank">
                    <span data-publishtime="1416541245">2014-11-21 11:40</span>
                </a>
            </p>
        </div>
        <a class="btn close" title="不感兴趣" href="javascript:;" data-node="close" data-groupid="3676035244">
            <i class="icon icon-close icon-small"></i>
        </a>
    </li>
</ul>
<p class="loadmore" data-node="loadMore">点击加载更多...</p>